body {
    height: 100vh;
}


header {
    background-color: grey;
    height: 10%;
    width: 100%;
}
h1 {
    position: relative;
    top: 15px;
    left: 35px;
    font-size: 35px;
    color: white


}

.navButtons {
    top: 15px;
    right: 50%;
    color: white;
    display: inline-flex;



}

#LowerBox {
    height: 30vh;
    background: black;
    color: yellow;
    display: flex;
    justify-content: center;
    font-size: 50px;
}

#centerPage {
    height: 45vh;
}









footer {
    background-color: darkslateblue;
    height: 15vh;

}