body {
    height: 100%;
    width: 100%
}


header {
    background-color: grey;
    height: 20%;
    width: 100%;
}
h1 {
    position: relative;
    top: 10px;
    left: 10px;


}

.navButtons {
    position: relative;
    display: flex;
    justify-content: center;


}



#footer {
    color: indigo;
    bottom: 100px;
    height: 100%;
    width: 100%
}